.container {
    position: relative;
    overflow: hidden;
}
.container p, #header {
    position: relative;
    z-index: 2;
    //right: 120px;
    //bottom: 190px;
    //color: #708090;
    font-size: 50px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

} 
.container img {
    //position: absolute;
    left: 0;
    top: 0;
    //width: auto;
    //height: auto;
    opacity: 0.6;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-top:100px;
    background-image: url("http://wallpapercave.com/wp/4lul2jt.png");
    transform:scale(1.0);
}

.container #nameDiv {
    margin-top:20px;
}

.container #location {
    margin-top:20px;
    margin-bottom:20px;
}

.containter {
    border-radius:10px;
}